VITE_CLIENT_ID={1291719817888817690}
VITE_CLIENT_SECRET={5C54B793DF4456603BA430BC8A8FEF75}
VITE_API_BASE=https://{yourpegalabs}/prweb/app/{pega-application-name}/api/application/v2
VITE_TOKEN_URL=https://{yourpegalabs}/prweb/PRRestService/oauth2/v1/token
VITE_INSPECTION_CASE_TYPE_ID={CaseTypeID}
